body {
  padding-bottom: 40px;
  background: #f5f5f5;
  font-family: "Helvetica Neue", Helvetica, Microsoft Yahei, Hiragino Sans GB, WenQuanYi Micro Hei, sans-serif; }

p {
  margin: 0;
  padding: 0; }

.head-panel {
  padding: 1.5em 0em 1em 0em;
  background: white; }

.head-panel input {
  font-size: 15px;
  border: 1px solid #118ACF; }

.outline-panel {
  margin: 0.5em 1em 0em 1em;
  background: #fff;
  border-radius: 4px;
  border-color: #DDD;
  border-width: 1px;
  font-size: 13px; }

.outline-panel ul {
  padding: 0;
  margin: 0.5em;
  list-style-type: none; }

.detail-panel {
  margin: 0.5em; }

.detail-panel ul {
  margin-top: 1em;
  list-style-type: none; }

.detail-panel ul li {
  position: relative;
  z-index: 0;
  border-bottom: 1px solid #DDD;
  padding: 0px 5px 5px 0px;
  margin-bottom: 10px; }

.detail-panel li i {
  width: 2px;
  height: 110%;
  left: -21px;
  background: #A8A8A8;
  position: absolute;
  top: 15px; }

.detail-panel ul li p {
  word-break: break-word;
  font-size: 12px; }

.detail-panel .time {
  color: #A8A8A8; }

.detail-panel li:last-child i {
  visibility: hidden; }

.detail-panel li em {
  width: 12px;
  height: 12px;
  border-radius: 6px;
  background: #A8A8A8 none repeat scroll 0% 0%;
  position: absolute;
  top: 3px;
  left: -26px; }

.detail-panel li:first-child em {
  background-color: #ED2210; }

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto; }

header {
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  margin: 0;
  padding: 15px;
  background: #118ACF; }

header .info {
  line-height: 1;
  text-align: left; }

header h3 {
  margin: 0;
  padding: 0;
  font-size: 15px;
  color: #fff; }

header a {
  margin: 0;
  padding: 0;
  font-size: 10px;
  color: #999; }

.panel-msg {
  margin-top: 1em; }

.footer-logo {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background: #fff; }

.footer-logo .info {
  position: relative;
  margin: 0 10px;
  background-size: 50px 50px;
  background-repeat: no-repeat;
  background-position-y: 5px;
  height: 100%; }
.footer-logo .info h4 {
  position: absolute;
  left: 60px;
  font-size: 16px;
  color: #333; }
.footer-logo .info small {
  position: absolute;
  left: 60px;
  bottom: 15px;
  font-size: 12px;
  color: #777; }
.footer-logo .info .downBtn {
  position: absolute;
  right: 0;
  height: 40px;
  width: 90px;
  line-height: 40px;
  text-align: center;
  font-size: 16px;
  border: 1px solid #f69544;
  border-radius: 2px;
  color: #f69544;
  top: 10px; }

.normal-footer-logo {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background: #f5f5f5; }
.normal-footer-logo a {
  font-size: 14px;
  color: #a8a8a8; }

.order-content {
  position: relative; }
.order-content .status-btn {
  position: absolute;
  top: 25px;
  right: 10px;
  width: 20vw;
  height: 17.6vw; }
.order-content .status-btn img {
  display: block;
  width: 100%;
  height: 100%; }
.order-content .status-btn .caret {
  transform: rotate(-90deg); }

.pay-nm {
  text-align: center; }
.pay-nm p {
  color: #777; }
.pay-nm h5 {
  color: #ff862f;
  font-size: 30px;
  font-weight: normal; }
.pay-nm h5 em {
  font-style: normal; }
.pay-nm h5 span {
  font-size: 24px; }

.pay-way {
  padding: 0; }
.pay-way a {
  padding: 0 10px; }
.pay-way .icon-l {
  width: 8vw;
  height: 8vw;
  display: inline-block; }
.pay-way .icon-l img {
  display: block;
  width: 100%;
  height: 100%; }
.pay-way .ckbox {
  width: 3vw;
  height: 3vw;
  float: right;
  border-radius: 100%; }
.pay-way .ckbox .glyphicon {
  color: #ccc;
  font-size: 20px;
  position: relative;
  top: 10px;
  right: 15px; }
.pay-way .ckbox.active .glyphicon {
  color: #3492e9; }
.pay-way .text-info {
  display: inline-block;
  width: 60vw;
  padding: 0 0 0 10px; }
.pay-way .text-info h6 {
  margin: 0;
  padding: 0;
  line-height: 20px;
  color: #777; }
.pay-way .text-info p {
  margin: 0;
  padding: 0;
  line-height: 20px;
  color: #000; }

/*# sourceMappingURL=map/wechat.css.map */
