
body {
  //min-width: 1280px;
}
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td {
  margin:0; padding:0;
}
body, button, input, select, textarea {
  font:14px/1.5tahoma, arial, \5b8b\4f53;
}
h1, h2, h3, h4, h5, h6{
  font-size:100%;
}
address, cite, dfn, em, var {
  font-style:normal;
}
code, kbd, pre, samp {
  font-family:couriernew, courier, monospace;
}
ul, ol, li{
  list-style:none;
}
a {
  text-decoration:none;
}
a:hover {
  text-decoration:underline;
}
sup {
  vertical-align:text-top;
}
sub{
  vertical-align:text-bottom;
}
legend {
  color:#000;
}
fieldset, img {
  border:0;
}
button, input, select, textarea {
  font-size:14px;
}


html, body, #app, .wrapper {
  width:100%;
  height:100%;
  background-color:#efefef;
}
// ::-webkit-scrollbar {
//   width: 0;
// }
#app {
  /*字体 https://segmentfault.com/a/1190000006110417 */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /*#text-align: center;
  #color: #2c3e50;*/
}

span {
  font-size:12px;
}

.mar-left-10{
  margin-left: 10px!important;
}

/**修改的样式*/
.el-form-item--mini .el-form-item__label{
  color: #323232;
}
.loginBg .el-checkbox__input.is-checked .el-checkbox__inner,
.loginBg .el-checkbox__input.is-indeterminate .el-checkbox__inner{
  background-color: #0291D3;
  border-color: #0291D3;
}
.el-dropdown{
  color: #415a93 !important;
}
.el-menu .statistics .el-menu .is-active{
  color: #415a93 !important;
}
*{
  user-select: text !important;
  -webkit-user-select: text !important;
  -moz-user-select: text !important;
  -ms-user-select: text !important;
}

.el-pagination .more.btn-quicknext + li {
// display: none;
}
/*设计稿*/
.clearfix:after {visibility: hidden;display: block;font-size: 0;content: " ";clear: both;height: 0;}
.clearfix{*zoom:1;}
.dept-tree-comntainer {
  position: relative;
  /deep/ .departmentTree {
    // width: 200px;
    /* 有些部门名称比较长的时候会显示不全，改成按照文字长度撑开 */
    min-width: 100%;
    width: auto;
    z-index: 3;
}
}
.box {
  // position: relative;
  background-color: #fff;
  // margin-top: 5px;
  min-height: calc(100vh - 110px - 20px);
  box-sizing: border-box;
  border-radius: 4px;
  .form-wrap {
    padding: 25px 20px 10px 20px;
    background: #FCFCFC;
    font-size: 0;
    .el-form-item{
      margin-right: 0;
      vertical-align: top;
      margin-bottom: 15px;
      display: inline-flex;
      flex-direction: row;
      .el-form-item__label{
        //flex: 1;
        width: 120px;
        white-space: nowrap;
        height: 32px;
        line-height: 32px;
      //text-align: left;
    }
      .el-form-item__content {
        flex: 3;
        .el-select {
          width: 100%;
      }
    }
      .el-input__inner{
        height: 32px;
        line-height: 32px;
        width: 100%;
    }
  }
    @media screen and (max-width: 1440px) {
    .el-form-item{
      width: 33.333%;
  }
  }
    @media screen and (min-width: 1440px) {
    .el-form-item{
      width: 25%;
  }
  }
}
  .table-list {
    padding: 0 20px 0 20px;
    .pager {
      margin-top: 10px;
      padding-bottom: 15px;
  }
}
}

.separator {
  // height: 14px;
  height: 1px;
  background: #efefef;
}

// 全局dialog样式
.el-dialog__wrapper {
  .el-dialog {
    width: 508px;
    border-radius: 8px;
    .el-dialog__header {
      //padding: 0;
      //font-size: 16px;
      color: #333;
      font-weight: bold;
      p {
        height: 44px;
        line-height: 44px;
        border-bottom: 1px solid #E9EAED;
        // padding-bottom: 12px;
        padding-left: 20px;
    }
      .el-dialog__headerbtn {
        right: 23px;
        top: 15px;
    }
  }
    .el-dialog__body {
      padding: 20px;
      .import-tip {
        dd {
          a {
            color: #4464A6;
        }
      }
    }
      // 弹窗中搜索项设为三个
      .form-wrap .el-form .el-form-item{
        width: 33.333%;
    }
      // 弹窗中搜索区域背景色和顶部padding去除
      .form-wrap {
        background: none;
        padding-top: 0;
    }
      // 弹窗中搜索区域若是在tab中，背景色和顶部padding保留
      .el-tabs__content {
        .form-wrap {
          padding: 25px 20px 10px 20px;
          background: #FCFCFC;
      }
    }
      .el-form.large-label {
        .el-form-item {
          .el-form-item__label {
            width: 120px;
            padding-right: 10px;
        }
          .el-form-item__content {
            margin-left: 120px;
            .el-input {
              width: 330px;
          }
        }
      }
    }
  }
}
}

.upload-demo {
  .el-upload-list {
    max-width: 300px;
    .el-upload-list__item {
      .el-upload-list__item-name {
        white-space: normal;
    }
  }
}
}

.white {
  color: #ffffff;
}

.table-header {
  height: 50px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .table-title {
    font-size: 14px;
    color: #444444;
}
  .el-button {
    background: #ECF5FF;
    border: 1px solid #9ACBFF;
    border-radius: 4px;
    span{
      color: #3B7EEA;
  }
}
}
.tab-list {
  padding: 0 20px;
  line-height: 40px;
  border-bottom: 1px solid #dedede;
  & > span {
    font-size: 14px;
    font-weight: bold;
}
  .tab-right-area {
    float: right;
    margin-top: 5px;
    .el-button {
      background: #ECF5FF;
      border: 1px solid #9ACBFF;
      border-radius: 4px;
      span{
        color: #3B7EEA;
    }
  }
}
  .rightInput {
    display: inline-flex;
    float: right;
    margin-top: 5px;
    margin-right: 15px;
    align-items: center;
    .label-tit {
      color: #606266;
  }
    .el-input__icon {
      margin-left: 2px;
  }
}
  >span {
    height: 48px;
    line-height: 48px;
    font-size:14px;
    color:#686c72;
    text-align:center;
    cursor: pointer;
    display: inline-block;
    padding: 0 20px;
    &.active {
      color: #1a5fcd;
      border-bottom: 3px solid #106fde;
  }
}
  >span:hover {
    color: #1a5fcd;
    border-bottom: 3px solid #1a5fcd;
}
}

.timeButton.is-active{
  border-color: #409EFF;
}

.tab-list-relate {
  margin: 0 20px;
  line-height: 40px;
  border-bottom: 1px solid #dedede;
  .rightInput {
    display: inline-flex;
    float: right;
    margin-top: 5px;
    .inputButtonRight {
      width: 100px;
      height: 40px;
      line-height: 40px;
  }
}
  span {
    height: 48px;
    line-height: 48px;
    font-size:14px;
    color:#686c72;
    text-align:center;
    cursor: pointer;
    display: inline-block;
    width: 50%;
    &.active {
      color: #1a5fcd;
      border-bottom: 3px solid #1a5fcd;
  }
}
}

.el-menu-vertical-demo{
  .el-menu-item {
    border-width: 1px 1px 0 1px;
    border-style: solid;
    border-color: #dedede;
    height: 50px;
    line-height: 50px;
    padding: 0 0 0 60px!important;
}
  .el-menu-item.is-active {
    background:#ecf5ff;
    color:#1a5fcd;
    border-right: 3px solid #1a5fcd;
}
  &.el-menu {
    border: 0;
}
}

.icon-ic-link, .icon-ic-link:hover {
  color: #15d455;
}
.icon-ic-unlink, .icon-ic-unlink:hover {
  color: #f75454;
}

.map-dialog .el-dialog__body {
  padding: 0 !important;
}

/* better scroll */
.bscroll-indicator {
  background: #aaa!important;
  border-radius: 6px!important;
  width: 6px!important;
  border: none!important;
}

.table-alert{
  height: 36px;
  display: flex;
  align-items: center;
  background: #ECF5FF;
  border: 1px solid #C9E3FF;
  border-radius: 4px;
  margin: 8px 20px 0 20px;
  span {
    font-size: 14px;
}
  a {
    color: red;
    text-decoration: none;
    &:hover{
      cursor: pointer;
  }
}
  i {
    color: #3B7EEA;
    padding-left: 24px;
    padding-right: 12px;
}
}

.all-things-top-title {
  /* line-height: 48px; */
  position: relative;
  top: 31%;
  margin-top: 0;
  margin-left: 28px;
  padding-left: 10px;
  display: flex;
  align-items: center;
  &:before {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 4px;
    height: 14px;
    background-color: #1A5FCD;
    border-radius: 2px;
}
  h1 {
    font-size: 14px;
    color: #555555;
    letter-spacing: 1px;
    margin-left: 10px;
}
}

.el-dialog {
  .box .table-list {
    padding: 0;
}
  .box {
    min-height: auto;
}
}

/* 地图 */
.switch-button {
  span {
    color: #fff;
}
  &:focus span, &:hover span {
    color: #fff;
}
}
.app-container {
  background: #ffffff;
}
.formInlineClass {
  width: 290px;
}

.orderInput .el-input__inner{
  border: none;
  border-radius: 0;
  box-shadow: inset 0 -2px 0 0 #e5e5e5;
  &:focus {
    box-shadow: inset 0 -2px 0 0 #ff4040;
    background: #fff5f5;
  }
}
.orderContentRight {
  margin-bottom: 0;
  display: flex;
  justify-content: flex-end;
}
.fr {
  margin-top: 5px;
  &.waybillNoClass {
    margin-top: 15px;
  }
}
.is-pink {
  background: #f12222;
  color: #333333;
  .popper__arrow {
    border-top-color: #f12222 !important;
    &:after {
      border-top-color: #f12222 !important;
    }
  }
}
